<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Transitioning Between Components</title>
    <style>
        .component-fade-enter-active, .component-fade-leave-active {
            transition: opacity .3s ease;
        }
        .component-fade-enter, .component-fade-leave-to
            /* .component-fade-leave-active for below version 2.1.8 */ {
            opacity: 0;
        }
    </style>
</head>
<body>
    <div id="app">
        <label><input type="radio" id="v-a" value="v-a" v-model="view">A</label>
        <label><input type="radio" id="v-b" value="v-b" v-model="view">B</label>
        <transition mode="out-in" name="component-fade">
            <component :is="view"></component>
        </transition>
    </div>
    <script src="../vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                view: 'v-a'
            },
            components: {
                'v-a': {
                    template: '<div>Component A</div>'
                },
                'v-b': {
                    template: '<div>Component B</div>'
                }
            }
        })
    </script>
</body>
</html>