<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cheap Static Components with v-once</title>
</head>
<body>
    <div id="app">
        <terms-of-service></terms-of-service>
    </div>
    <script src="../vue.js"></script>
    <script>
        Vue.component('terms-of-service', {
            template: `
                <div v-once>
                    <h1>Terms of Service</h1>
                </div>
            `
        })

        let vm = new Vue({
            el: '#app'
        })
    </script>
</body>
</html>